/* index.css */
@import "tailwindcss";



html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll infinite;
  animation-duration: 30s;
  /* Adjust as necessary */
}




select option:hover,
select option:focus {
  background-color: #E066E6 !important;
  color: #fff !important;
}

/* Floating Icon Animation */
@keyframes pulseSpin {
  0% {
    transform: rotate(0deg) scale(0.8);
    opacity: 0.2;
  }

  40% {
    transform: rotate(180deg) scale(1.4);
    opacity: 1;
  }

  70% {
    transform: rotate(270deg) scale(1.1);
    opacity: 0.7;
  }

  100% {
    transform: rotate(360deg) scale(0.8);
    opacity: 0.2;
  }
}

.bg-icon {
  position: absolute;
  color: #E066E6 !important;
  animation: pulseSpin 25s ease-in-out infinite;
  filter: drop-shadow(0 0 18px rgba(224, 102, 230, 0.8));
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .bg-icon {
    width: 2rem !important;
    height: 2rem !important;
    animation-duration: 18s;
    opacity: 0.15;
  }
}

/* index.css */
@theme {
  --color-pink: #E066E6;
  --color-lime: #CCFF66;
}
